<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Frontend developer KDE</title>
        <%= require('html-loader?{"sources":false}!./partials/_favicon.html').default %> <%=
        require('html-loader!./partials/_font.html').default %> <%=
        require('html-loader!./partials/_yaMetrika.html').default %>
    </head>

    <body>
        <div id="app">
            <div class="layout">
                <%= require('html-loader!./partials/_header.html').default %>
                <div id="route">
                    <main class="layout__main">
                        <div class="layout__left"><%= require('html-loader!./partials/_back.html').default %></div>
                        <div class="layout__right">POrtfolio</div>
                        <div class="layout__top"><%= require('html-loader!./pages/about.html').default %></div>
                        <div class="layout__top-right">Secret</div>
                    </main>
                </div>
                <%= require('html-loader!./partials/_footer.html').default %>
            </div>
        </div>
    </body>
</html>
