<div class="aboutBack">
    <div class="aboutBack--item aboutBack--item__round"></div>
    <div class="aboutBack--item aboutBack--item__rectangle"></div>
    <div class="aboutBack--item aboutBack--item__rectangle2 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle3 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle4 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle5 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle6 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle7 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle8 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle9 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__rectangle10"></div>
    <div class="aboutBack--item aboutBack--item__rectangle11"></div>
    <div class="aboutBack--item aboutBack--item__rectangle12"></div>
    <div class="aboutBack--item aboutBack--item__rectangle13"></div>
    <div class="aboutBack--item aboutBack--item__rectangle14"></div>
    <div class="aboutBack--item aboutBack--item__rectangle15"></div>
    <div class="aboutBack--item aboutBack--item__rectangle16"></div>

    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle17 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle18 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle19 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle20 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle21 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle22 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle23 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle24 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle25 aboutBack--item__backRotate"></div>
    <div class="aboutBack--item aboutBack--item__red aboutBack--item__rectangle26 aboutBack--item__backRotate"></div>

    <div class="aboutBack--item aboutBack--item__yellow aboutBack--item__rectangle27"></div>
    <div class="aboutBack--item aboutBack--item__yellow aboutBack--item__rectangle28"></div>
    <div class="aboutBack--item aboutBack--item__yellow aboutBack--item__rectangle29"></div>
</div>
