<div class="anim" id="anim">
    <div class="anim__item anim__item_round"></div>
    <div class="anim__item anim__item_rectangle"></div>
    <div class="anim__item anim__item_rectangle2 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle3 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle4 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle5 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle6 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle7 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle8 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle9 anim__item_backRotate"></div>
    <div class="anim__item anim__item_rectangle10"></div>
    <div class="anim__item anim__item_rectangle11"></div>
    <div class="anim__item anim__item_rectangle12"></div>
    <div class="anim__item anim__item_rectangle13"></div>
    <div class="anim__item anim__item_rectangle14"></div>
    <div class="anim__item anim__item_rectangle15"></div>
    <div class="anim__item anim__item_rectangle16"></div>

    <div class="anim__item anim__item_red anim__item_rectangle17 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle18 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle19 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle20 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle21 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle22 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle23 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle24 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle25 anim__item_backRotate"></div>
    <div class="anim__item anim__item_red anim__item_rectangle26 anim__item_backRotate"></div>

    <div class="anim__item anim__item_yellow anim__item_rectangle27"></div>
    <div class="anim__item anim__item_yellow anim__item_rectangle28"></div>
    <div class="anim__item anim__item_yellow anim__item_rectangle29"></div>
</div>
