.btn{
    color: blue;
}

.logo{
    display: block;
    width: 30px;
    height: 30px;
    @include background-image(logo);
}

.nav{
    &__item{
        display: block;
        color:white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.page-about{
    padding:260px 20px 0px;
    color: white;
}